@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1>Assignment 7</h1>
    <p class="lead">Hands-on learning about the fundamental of cloud computing using MS Azure platform, including creating web server,
                    database server, SQL databases using the Azure Portal and deploying your web apps to the Azure platform. 
    </p>
    <p><a href="http://mabeltempo-wa2017a7.azurewebsites.net" class="btn btn-primary btn-lg">Assignment 7 on Azure &raquo;</a></p>
</div>
