@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Assignment 1</h1>
    <p class="lead">This web app is an intro to .NET</p>
    <p><a href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment1.html" class="btn btn-primary btn-lg" target='_blank'>Assignment 1 &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Assignment 1 Introduction</h2>
        <p>
           The Assignment 1 app contains basic functionality to the intro of ASP.NET MVC.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Navigating</h2>
        <p>Select a tab from the top navigation to browaw the content of the Assignment 1 app.</p>
    </div>
</div>