
@{
    ViewBag.Title = "Load data";
}
<h2>Load data</h2>
<p>The following actions are supported(Run in exact order seen):</p>
<ul>
    <li>/loaddata/genre</li>
    <li>/loaddata/roleclaim</li>
    <li>/loaddata/album</li>
    <li>/loaddata/artist</li>
    <li>/loaddata/track</li>
   
</ul>
