@{
    ViewBag.Title = "About";
}
<h3>Author</h3>
<h4>Marco Beltempo </h4>
<h5>Currently a second year student in Computer Programming & Analysis at Seneca College.</h5>


<h3>About Assignment 3</h3>

<p>The objective of this assignment was to implement some of the common interaction patterns in a web app that uses a persistent store.</p>
Use cases include:

<ul>
    <li>GetAll - Employee </li>
    <li>GetOne - Employee</li>
    <li>Edit - Employee</li>
    <li>Filtered/Sorted - Track</li>

</ul>

