@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Assignment 3</h1>
    <p class="lead">Common interaction patterns in a web app that uses a persistent store.</p>
    <p><a href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment3.html" target="_blank" class="btn btn-primary btn-lg">About Assignment 3</a></p>
</div>

