@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 9</h1>
    <p class="lead">   Enhanced application, that supports security concepts, as well as richer data. (i.e. HTML markup), and internet media types (e.g. image, audio, video).</p>
    <p><a href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment9.html" target="_blank" class="btn btn-primary btn-lg">Assignment 9</a></p>
</div>