@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 8</h1>
    <p class="lead">The app serves the needs of companies in the music business. This app enables a record label to manage their artists, albums, and tracks.</p>
    <p><a href=http://mabeltempo-wa2017a8.azurewebsites.net/" target="_blank" class="btn btn-primary btn-lg">Assignment 8</a></p>
</div>