@{
    ViewBag.Title = "About";
}

<h2>About Assignment 5</h2>

<h4>Author - Marco Beltempo </h4>

<p>Currently a second year student in Computer Programming & Analysis at Seneca College.</p>


<h3>Assignment 5</h3>
<p> Work with associated data, with “add new” functionality. Your web app will enable users to add new Track objects. </p>
<ul>
    <li>
        Follows best practices
    </li>
    <li>
        Implements the recommended system design guidance
    </li>
    <li>
        Displays lists (“get all”) of Album, MediaType, and Track objects
    </li>
    <li>
        Enables “add new” Track objects
    </li>
</ul>

