@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Assignment 5</h1>
    <p class="lead">This app enables users to add new Track objects. </p>
    <p><a href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment5.html" target="_blank" class="btn btn-primary btn-lg">About Assignment 5</a></p>
</div>

