@{
    ViewBag.Title = "About";
}

<h2>About Assignment 4</h2>

<h4>Author - Marco Beltempo </h4>

<p>Currently a second year student in Computer Programming & Analysis at Seneca College.</p>


<h3>Assignment 4</h3>
<p>Work with associated data, display only. Your app will enable users to view a list of invoices, and detail for an invoice. The detail will be extensive, and will include data from many associated entities.</p>

<ul>
    <li>
        Follows best practices
    </li>
    <li>
        Implements the recommended system design guidance
    </li>
    <li>
        Customized appearance, with an added menu item
    </li>
    <li>
        Displays invoice and associated data
    </li>
</ul>

