@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Assignment 4</h1>
    <p class="lead">This app enables users to view a list of invoices, and detail for an invoice.</p>
    <p><a href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment4.html" target="_blank" class="btn btn-primary btn-lg">About Assignment 4</a></p>
</div>

