
<title>Assignment 2 - mabeltempo</title>
<div class="jumbotron">
    <h1>Assignment 2</h1>
    <p class="lead">Common interaction patterns in a web app that uses a persistent store.</p>
    <p><a href=" https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment2.html" target="_blank" class="btn btn-primary btn-lg">About Assignment 2</a></p>

</div>

