@{
    ViewBag.Title = "About";
}

<h2>About Assignment 6</h2>
<hr />
<h4>Author - Marco Beltempo </h4>
<p>Currently a second year student in Computer Programming & Analysis at Seneca College.</p>


<p><b> Assignment 6 Description</b></p>
<ul>
    <li> Follows best practices </li>
    <li> Implements the recommended system design guidance  </li>
    <li> Customized appearance, with appropriate menu items </li>
    <li> Displays lists (“get all”) of Playlist objects     </li>
    <li> Enables “edit existing” Playlist objects           </li>
</ul>

