@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Assignment 6</h1>
    <p class="lead">Work with many-to-many associated data, with “edit existing” functionality. Your web app will enable users to work with Playlist objects.</p>
    <p><a href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment6.html" target="_blank" class="btn btn-primary btn-lg">Assignment 6 Description</a></p>
</div>

